.btn_box {
  button {
    cursor: pointer;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    background: none;
    border-radius: 1000px;
    border: 1px solid white;
    min-width: 120px;
  }
}