.select_container {
  position: relative;
  min-width: 150px;

  .selected_text {
    cursor: pointer;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 1000px;
    background: linear-gradient(180deg, rgb(23, 23, 23) 3%, rgb(98, 98, 98) 100%)
  }

  .select_box {
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(23, 23, 23) 3%, rgb(98, 98, 98) 100%);
    color: white;
    text-align: center;
    z-index: 2;

    .select_item {
      transition: all 0.5s;
      padding: 5px;
      margin: 5px 0;
      border: 1px solid #00000000;

      &:hover {
        transition: all 0.5s;
        border: 1px solid white;

        p {
          transition: all 0.5s;
          color: white;
        }
      }

      p {
        transition: all 0.5s;
      }
    }
  }
}