.order_provider_container {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  min-height: 4rem;
  background-color: rgb(64, 64, 64);

  .hamburger_container {
    position: absolute;
    left: 0;
    top: 0;
  }

  .card_box {
    right: 10px;
    width: 30px;
    height: 30px;

    .cart_icon {
      position: absolute;
      right: -1px;
      top: -1px;
      background-color: green;
      border-radius: 1000px;
      font-size: 12px;
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 16px;
      width: 16px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.ordering_box {
  padding: 1rem;
  flex-direction: column;
  display: flex;
  row-gap: 20px;
}