.digiscale_form_container {
  padding-top: 1rem;

  .form_box {
    max-width: 185px;
    margin: 1rem auto;

    form {
      display: flex;
      row-gap: 0.5rem;
      align-items: center;
      flex-direction: column;
    }

    .digiscale_btn {
      text-align: center;
      margin-top: 1.5rem;

      button:nth-child(1) {
        margin-bottom: 1rem;
      }
    }
  }
}
