.cart_board_container {
  display: flex;
  align-items: center;
  justify-content: center;

  .cart_board_box {
    width: 100%;

    h2 {
      color: white;
      text-align: center;
    }

    .cart_board_detail {
      padding-top: 1rem;
      padding-bottom: 1rem;

      div {
        display: flex;
        gap: 8px;
        align-items: flex-start;
        justify-content: center;
      }

      .close_btn {
        height: auto;
        width: auto;
        font-size: 2rem;
        font-weight: 500;
        color: red;
        padding: 0;
      }

      .cart_btn {
        border: none;
        width: 36px;
        height: 36px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .cart_board_image {
        width: 80px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .cart_board_text {
        color: white;
        display: flex;
        font-weight: 500;
        flex-direction: column;
        align-items: baseline;
        text-align: center;
        justify-content: center;

        p {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .cart_board_detail {
    div:nth-child(1) {}
  }
}